<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!--
  <servlet>
      <servlet-name>jerseyApplcation</servlet-name>
      <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
          <param-name>jersey.config.server.provider.packages</param-name>
          <param-value>com.hsystems.lms.web.webapi</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
      <servlet-name>jerseyApplcation</servlet-name>
      <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  -->
  <context-param>
    <param-name>signInUrl</param-name>
    <param-value>/web/signin</param-value>
  </context-param>
  <context-param>
    <param-name>homeUrl</param-name>
    <param-value>/web/home</param-value>
  </context-param>
  <context-param>
    <param-name>publicUrls</param-name>
    <param-value>
      /web/error,/web/signup,/web/signin,/web/signout,/web/account,
      /webapi/locales/error,/webapi/locales/signup,/webapi/locales/signin,
      /webapi/locales/signout,/webapi/locales/account
    </param-value>
  </context-param>
  <listener>
    <listener-class>com.hsystems.lms.web.AppContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/web/error</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/web/error</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <name>sessionid</name>
      <http-only>true</http-only>
      <!-- secure>true</secure-->
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>